name: Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ferinoSZ
          template: classic
          base: header, activity, repositories
          config_timezone: America/Sao_Paulo

          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: percentage

          plugin_isocalendar: yes
